*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-accent: #f7bf4f;
    --clr-accent-2: #f6d595;
    --clr-light: #fff;
    --clr-dark: #201335;
    --clr-grey: #6D7275;
    /* --clr-dark: #303030; */
    /* --clr-accent: #16e0bd; */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Button */
.btn {
    color: var(--clr-dark);
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: var(--clr-accent);
    background: linear-gradient(0deg, var(--clr-accent) 0%, var(--clr-accent-2) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn:before,
  .btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--clr-accent);
    transition: all 0.3s ease;
  }
  .btn:before {
    height: 0%;
    width: 2px;
  }
  .btn:after {
    width: 0%;
    height: 2px;
  }
  .btn:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn:hover:before {
    height: 100%;
  }
  .btn:hover:after {
    width: 100%;
  }
  .btn span:hover{
     color: var(--clr-accent);
  }
  .btn span:before,
  .btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--clr-accent);
    transition: all 0.3s ease;
  }
  .btn span:before {
    width: 2px;
    height: 0%;
  }
  .btn span:after {
    width: 0%;
    height: 2px;
  }
  .btn span:hover:before {
    height: 100%;
  }
  .btn span:hover:after {
    width: 100%;
  }

/* .btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
} */

/* Typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);

}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-grey);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.nav-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 200;
    outline: none;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro Section */


.intro__img {
    box-shadow: var(--bs);
}

.intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
}

.intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}

.section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
}

@media screen and (max-width: 600px) {
    .intro {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
    }
    
}

/* Services */

.my-services {
    background-color: var(--clr-grey);
    background-image: url(./img/services-3.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

/* .service:hover {
    scale: 1.2;
    background-color: rgba(0, 0, 0, .65);
    padding: 10px;
} */

.service h3 {
    font-size: 2rem;
    color: var(--clr-accent-2);
}

.service p {
    font-weight: 700;
    letter-spacing: .07em;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* About Me */

.about-me__body p {
    margin: 0 1em 1em 0;
    font-size: 1.2em;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    max-width: 1300px;
    margin: 0 auto;
}

.section__title--about {
    grid-area: title;
}

.section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
}

.about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    box-shadow: var(--bs);
}

.about-me__body {
    grid-area: text;
}

@media screen and (max-width: 600px) {
    .about-me {
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text text";
    } 

}

@media screen and (max-width: 450px) {
    .about-me {
        display: block;
    }

    .section__subtitle--about {
        padding-right: 0;
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
    height: 400px;
    width: 400px;
}

.portfolio__img {
    height: 100%;
    width: 100%;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    object-fit: cover;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}

.portfolio__item:hover .portfolio__item_title,
.portfolio__item:focus .portfolio__item_title {
    opacity: 1;
}

.portfolio__item_title {
    position: relative;
    top: -50%;
    color: var(--clr-accent);
    -webkit-text-stroke: 1.5px black;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 250ms linear;
    pointer-events: none;
}

.portfolio__item a {
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .portfolio__item {
        width: 300px;
        height: 300px;
    }
}

/* Footer */

.footer {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    /* padding: 2.5em 0; */
    font-size: 1.5rem;
    height: 100px;
}

.footer a {
    color: inherit;
    text-decoration: none
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    /* opacity: .7; */
    color: var(--clr-light);
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    /* margin: 2em 0 0; */
    /* padding: 0; */
}

.social-list__items {
    /* margin: 0 .5em; */
}

.social-list__link {
    padding: .5em
}

@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 1em 0;
    }

    .social-list {
        margin: 0;
        padding: 0;
    }
}

/* Portfolio Item Individual */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 100vw;
    margin: 0 auto;
    background-color: var(--clr-accent);
    padding: 1em;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.portfolio-item-individual img {
    transition: opacity 250ms linear;
    width: 800px;
    margin: 0 auto;
}

.portfolio-item-individual img:hover,
.portfolio-item-individual img:focus {
    opacity: .8;
}